<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>frontServlet</servlet-name>
        <servlet-class>etu2074.framework.servlet.FrontServlet</servlet-class>

        <init-param>
            <param-name>pathos</param-name>
            <param-value>testFramework</param-value>
        </init-param>

        <init-param>
            <param-name>session_name</param-name>
            <param-value>isConnected</param-value>
        </init-param>

        <init-param>
            <param-name>profile_name</param-name>
            <param-value>profile</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>frontServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>